@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

.newDocContainer{
    color: white;
    background: linear-gradient(45deg, #ff5f6d, #ffc371);
    margin-top: 15px;
    min-height: 165px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    /* border-style: solid; */
    /* border-color: black; */
    min-height: 165px;
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='black' stroke-width='7' stroke-dasharray='6%2c 14' stroke-dashoffset='26' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 20px; */
    cursor: pointer;
}

.newDocPlus{
    font-size: 110px;
    color:white;
    text-align: center;
    vertical-align: middle;
    min-height: 165px;
}

.dottedBorder {
    border-style: dashed;
    border-radius: 20px;
}