.smallDocContainer {
  /* color: #2f3e46; */
  /* background: linear-gradient(45deg, #ff5f6d, #ffc371); */
  /* background-color:#3b3257 ; */
  /* background-color: #002f2d; */
  background: linear-gradient(45deg, #02aab0, #00cdac) !important;
  margin-top: 15px;
  min-height: 100px;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  /* z-index: 200 !important; */
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 10px;
  position: relative;
}

.smallDocContainer:hover .fileIcon:hover {
  animation: shake 0.8s;
}

.smallDocIcons {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.smallIcons {
  color: white;
  font-size: 18px;
}

.fileIcon {
  display: flex;
  justify-content: center;
  font-size: 96px;
  padding-top: 20px;
  color: white;
}

@keyframes shake {
  33% {
    transform: translate(2px, -2px);
  }

  66% {
    transform: translate(-2px, 2px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.smallDocTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
