@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');

.docContainer{
    color: white;
    background: linear-gradient(45deg, #ff5f6d, #ffc371);
    margin-top: 10px;
    height: 150px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;


}

.box-shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
}

.uuidContainer{
    color: white;
    margin-left: 10px;
    /* background-color: white; */
    border-radius: 10px;
    margin-top: 20px;
}

.uuidContent{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 50px;
}

.docSubtitle{
    font-weight: 800;
    font-size: 21px;
    letter-spacing: 0.3px;
    color: black;
}


.marginLeft{
    margin-left: 3vw;
}